In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

1. olhar dados - verificar dicionário
2. Criar baseline
3.

# Understanding the dataset

In [3]:
rain = pd.read_csv('data/rain_data_aus.csv')

In [16]:
rain.head()

,date,location,mintemp,maxtemp,rainfall,evaporation,sunshine,humidity9am,humidity3pm,pressure9am,...,temp9am,temp3pm,raintoday,amountOfRain,raintomorrow,temp,humidity,precipitation3pm,precipitation9am,modelo_vigente
0,2008-12-01,Albury,13.4,22.9,0.6,NaN,NaN,71.0,22.0,1007.7,...,16.9,21.8,No,0.0,No,29.48,28.400000,12,5.115360,0.089825
1,2008-12-02,Albury,7.4,25.1,0.0,NaN,NaN,44.0,25.0,1010.6,...,17.2,24.3,No,0.0,No,32.12,2.208569,10,21.497100,0.023477
2,2008-12-03,Albury,12.9,25.7,0.0,NaN,NaN,38.0,30.0,1007.6,...,21.0,23.2,No,0.0,No,32.84,38.000000,17,20.782859,0.027580
3,2008-12-04,Albury,9.2,28.0,0.0,NaN,NaN,45.0,16.0,1017.6,...,18.1,26.5,No,1.0,No,35.60,21.200000,8,12.028646,0.023962
4,2008-12-05,Albury,17.5,32.3,1.0,NaN,NaN,82.0,33.0,1010.8,...,17.8,29.7,No,0.2,No,40.76,41.600000,9,11.883546,0.220164

In [13]:
rain.isna().sum()

date                    0
location                0
mintemp               637
maxtemp               322
rainfall             1406
evaporation         60843
sunshine            67816
humidity9am          1774
humidity3pm          3610
pressure9am         14014
pressure3pm         13981
cloud9am            53657
cloud3pm            57094
temp9am               904
temp3pm              2726
raintoday            1406
amountOfRain            0
raintomorrow            0
temp                  322
humidity             3610
precipitation3pm        0
precipitation9am        0
modelo_vigente          0
dtype: int64

In [5]:
rain.shape

(142193, 23)

In [38]:
rain.location.unique()

array(['Albury', 'BadgerysCreek', 'Cobar', 'CoffsHarbour', 'Moree',
       'Newcastle', 'NorahHead', 'NorfolkIsland', 'Penrith', 'Richmond',
       'Sydney', 'SydneyAirport', 'WaggaWagga', 'Williamtown',
       'Wollongong', 'Canberra', 'Tuggeranong', 'MountGinini', 'Ballarat',
       'Bendigo', 'Sale', 'MelbourneAirport', 'Melbourne', 'Mildura',
       'Nhil', 'Portland', 'Watsonia', 'Dartmoor', 'Brisbane', 'Cairns',
       'GoldCoast', 'Townsville', 'Adelaide', 'MountGambier', 'Nuriootpa',
       'Woomera', 'Albany', 'Witchcliffe', 'PearceRAAF', 'PerthAirport',
       'Perth', 'SalmonGums', 'Walpole', 'Hobart', 'Launceston',
       'AliceSprings', 'Darwin', 'Katherine', 'Uluru'], dtype=object)

In [11]:
rain.columns

Index(['date', 'location', 'mintemp', 'maxtemp', 'rainfall', 'evaporation',
       'sunshine', 'humidity9am', 'humidity3pm', 'pressure9am', 'pressure3pm',
       'cloud9am', 'cloud3pm', 'temp9am', 'temp3pm', 'raintoday',
       'amountOfRain', 'raintomorrow', 'temp', 'humidity', 'precipitation3pm',
       'precipitation9am', 'modelo_vigente'],
      dtype='object')

In [8]:
rain.describe().T

,count,mean,std,min,25%,50%,75%,max
mintemp,141556.0,12.186400,6.403283,-8.500000,7.600000,12.000000,16.800000,33.90000
maxtemp,141871.0,23.226784,7.117618,-4.800000,17.900000,22.600000,28.200000,48.10000
rainfall,140787.0,2.349974,8.465173,0.000000,0.000000,0.000000,0.800000,371.00000
evaporation,81350.0,5.469824,4.188537,0.000000,2.600000,4.800000,7.400000,145.00000
sunshine,74377.0,7.624853,3.781525,0.000000,4.900000,8.500000,10.600000,14.50000
humidity9am,140419.0,68.843810,19.051293,0.000000,57.000000,70.000000,83.000000,100.00000
humidity3pm,138583.0,51.482606,20.797772,0.000000,37.000000,52.000000,66.000000,100.00000
pressure9am,128179.0,1017.653758,7.105476,980.500000,1012.900000,1017.600000,1022.400000,1041.00000
pressure3pm,128212.0,1015.258204,7.036677,977.100000,1010.400000,1015.200000,1020.000000,1039.60000
cloud9am,88536.0,4.437189,2.887016,0.000000,1.000000,5.000000,7.000000,9.00000
cloud3pm,85099.0,4.503167,2.720633,0.000000,2.000000,5.000000,7.000000,9.00000
temp9am,141289.0,16.987509,6.492838,-7.200000,12.300000,16.700000,21.600000,40.20000
temp3pm,139467.0,21.687235,6.937594,-5.400000,16.600000,21.100000,26.400000,46.70000
amountOfRain,142193.0,2.360682,8.477969,0.000000,0.000000,0.000000,0.800000,371.00000
temp,141871.0,28.505419,10.237506,-3.760000,22.520000,28.520000,35.480000,59.72000
humidity,138583.0,61.991179,26.649111,2.000000,44.000000,63.200000,80.000000,122.00000
precipitation3pm,142193.0,10.014164,3.169832,0.000000,8.000000,10.000000,12.000000,26.00000
precipitation9am,142193.0,10.000748,4.997908,-17.739346,6.650238,10.000009,13.389306,32.47859
modelo_vigente,142193.0,0.227804,0.272764,0.000000,0.030055,0.100853,0.329507,0.99940

In [10]:
pd.read_csv('data/wind_table_01.csv')

,date,location,wind_gustdir,wind_gustspeed,wind_dir9am,wind_dir3pm,wind_speed9am,wind_speed3pm
0,2007-11-01,Canberra,NW,30.0,SW,NW,6.0,20.0
1,2007-11-02,Canberra,ENE,39.0,E,W,4.0,17.0
2,2007-11-03,Canberra,NW,85.0,N,NNE,6.0,6.0
3,2007-11-04,Canberra,NW,54.0,WNW,W,30.0,24.0
4,2007-11-05,Canberra,SSE,50.0,SSE,ESE,20.0,28.0
...,...,...,...,...,...,...,...,...
19995,2010-01-25,Newcastle,NaN,NaN,SE,SE,6.0,6.0
19996,2010-01-25,NorahHead,NE,37.0,SSW,NaN,11.0,NaN
19997,2010-01-25,NorfolkIsland,S,28.0,E,SSE,6.0,13.0
19998,2010-01-25,Richmond,ENE,33.0,NaN,E,NaN,11.0
19999,2010-01-25,Sydney,NaN,NaN,WNW,E,2.0,19.0

In [14]:
pd.read_csv('data/wind_table_02.csv')

,date,location,wind_gustdir,wind_gustspeed,wind_dir9am,wind_dir3pm,wind_speed9am,wind_speed3pm
0,2010-01-25,SydneyAirport,E,31.0,ESE,E,7.0,22.0
1,2010-01-25,WaggaWagga,W,33.0,ENE,WSW,11.0,19.0
2,2010-01-25,Williamtown,E,39.0,SSW,ESE,11.0,22.0
3,2010-01-25,Wollongong,NE,20.0,SSW,NNE,4.0,7.0
4,2010-01-25,Canberra,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...
19995,2011-05-14,Cobar,SW,35.0,SSW,S,15.0,13.0
19996,2011-05-14,CoffsHarbour,SW,33.0,WSW,SE,20.0,9.0
19997,2011-05-14,Moree,WSW,56.0,SW,SW,24.0,37.0
19998,2011-05-14,Newcastle,NaN,NaN,SW,SE,4.0,9.0
19999,2011-05-14,NorahHead,SW,39.0,WSW,SW,15.0,17.0

# Australia's Climate information

In [ ]:
There are four seasons across most of Australia:
, with the tropical north experiencing a wet and dry season. 
- Summer: December - March (average temperature 29°C)
- Autumn: March - May
- Winter: June - August (average 13°C)
- Spring: September to November.

# Weather forecast infomation

The default behavior of weather is to continue in a daily pattern. The pattern changes only when some new influence occurs to break it.The key to predicting weather is learning the signals that such a change is coming. If no signals are present, expect a high likelihood of the weather doing whatever it did the day before.

 Nights and mornings are more likely to be calm, especially during the warm months. The sun's rays heats Earth's surface during the day, and the temperature difference between land and air can be quite dramatic by afternoon, causing a lot of air and moisture to move up and down through the atmosphere, thereby generating weather. You can track the up and down movement with a measurement called atmospheric pressure.

1. Direction of the wind: Wind is caused when air moves from a high-pressure area to a low-pressure area. Since weather moves in from the west, westerly winds indicate good weather because they suggest the bad weather is already to your east. Easterly winds suggest that the bad weather is coming toward you

2. Check for humidity. High humidity often precedes a storm, so watch for signs of high humidity.
- Pine cones can also tell you if it’s humid because they will stay closed if the humidity is high but will open if the air is dry.
- If you live in an area that always has high humidity, rely on other observations to predict the weather.

3. Atmospheric pressure
- High/Rising Pressure: Air is staying put at the land surface. Indicates stable weather.
- Low/Falling Pressure: Air is moving upward from the land surface into the atmosphere. Indicates changing weather